@import "tailwindcss";
@source ".";
@theme {
  --font-display: "Satoshi", "sans-serif";

  --font-base: 1rem;
  --ratio: 1.618;
  --s0: var(--font-base);
  --s000: calc(var(--s0) * pow(var(--ratio), -3));
  --s00: calc(var(--s0) * pow(var(--ratio), -2));
  --s1: calc(var(--s0) * pow(var(--ratio), 1));
  --s2: calc(var(--s0) * pow(var(--ratio), 2));

  --s3: calc(var(--s0) * pow(var(--ratio), 3));
  --s4: calc(var(--s0) * pow(var(--ratio), 4));
  --s5: calc(var(--s0) * pow(var(--ratio), 5));
  --s6: calc(var(--s0) * pow(var(--ratio), 6));
  --s7: calc(var(--s0) * pow(var(--ratio), 7));
  --s8: calc(var(--s0) * pow(var(--ratio), 8));

  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);

  --color-accent-50: oklch(0.98 0.016 73.684);
  --color-accent-100: oklch(0.954 0.038 75.164);
  --color-accent-200: oklch(0.901 0.076 70.697);
  --color-accent-300: oklch(0.837 0.128 66.29);
  --color-accent-400: oklch(0.75 0.183 55.934);
  --color-accent-500: oklch(0.705 0.213 47.604);
  --color-accent-600: oklch(0.646 0.222 41.116);
  --color-accent-700: oklch(0.553 0.195 38.402);
  --color-accent-800: oklch(0.47 0.157 37.304);
  --color-accent-900: oklch(0.408 0.123 38.172);
  --color-accent-950: oklch(0.266 0.079 36.259);

  --color-primary-50: oklch(98.5% 0.001 106.423);
  --color-primary-100: oklch(97% 0.001 106.424);
  --color-primary-200: oklch(92.3% 0.003 48.717);
  --color-primary-300: oklch(86.9% 0.005 56.366);
  --color-primary-400: oklch(70.9% 0.01 56.259);
  --color-primary-500: oklch(55.3% 0.013 58.071);
  --color-primary-600: oklch(44.4% 0.011 73.639);
  --color-primary-700: oklch(37.4% 0.01 67.558);
  --color-primary-800: oklch(26.8% 0.007 34.298);
  --color-primary-900: oklch(21.6% 0.006 56.043);
  --color-primary-950: oklch(14.7% 0.004 49.25);
}
