---
import Style from "#styles/Style.astro";

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>xxx</title>
    <Style />
  </head>
  <body>
    <slot />
  </body>
</html>
